# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

### __Objevtives__:

- List of some popular languages for Data Science
- List of some Data science tools
- Examples of evaluating arithmetic expressions in Python
- Create table that contian some of Developement Enviroment used in Data Science
- Create Jupyter notebook named "DataScienceEcosystem.ipynb"
- Create a markdown cell to indicate the auther name of this jupyter notebook
- Share Jupyter notebook "DataScienceEcosystem.ipynb" through Github

### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Scala
5. Julia
6. C++
7. Java

### Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
2. Matplotlib
4. Scikit-learn
5. Keras
6. GGplot
7. Caret
8. Tenserflow
9. Apache spark

|Data Science Tools|
|:-----------------|
| Jupyter Notebook |
| Jupyter lab      |
| RStudio          |
| Knime            |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60

x = 200
y = 60
z = x/y

print("200 minutes in hours:",z)

200 minutes in hours: 3.3333333333333335

## Auther:
Yaseen Al-Zuraiqy